.Quiz {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.quiz-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #f3f4f6;

}

.quiz-content h1 {
  font-size: 2rem;
  color: #4338ca;
  margin-bottom: 1rem;
}

.quiz-content p {
  font-size: 1.2rem;
  color: #4b5563;
  margin-bottom: 2rem;
}

.quiz-question{
  /* width: 100%; */
  margin-bottom: 20px;
}

.answer-options{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2oopx, 1fr));
  gap: 10px;
}

.answer-button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
  transition: background-color 0.3s;
}

.answer-button:hover {
  background-color: #e0e0e0;
}

.answer-button.selected {
  background-color: #4a90e2;
  color: white;
}

.quiz-navigation{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.nav-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 480px) {
  .answer-options {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .quiz-content {
    padding: 30px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }

  .answer-button {
    padding: 14px 18px;
    font-size: 18px;
  }

  .nav-button {
    padding: 12px 24px;
    font-size: 18px;
  }

  .submit-button {
    padding: 14px 28px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .quiz-content {
    padding: 40px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  .answer-options {
    gap: 15px;
  }

  .answer-button {
    padding: 16px 20px;
    font-size: 20px;
  }

  .nav-button {
    padding: 14px 28px;
    font-size: 20px;
  }
}